<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Openings Page">
                    <match url="^openings$" />
                    <action type="Rewrite" url="openings.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 